<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="IndexPage" value="https://www.wowprogress.com/gearscore/?lfg=1&amp;sortby=ts"/>
    <add key="NextPage" value="https://www.wowprogress.com/gearscore/char_rating/next/{0}/lfg.1/sortby.ts"/> <!--From 0 to inf-->
    <add key="WPRoot" value="https://www.wowprogress.com/"/>

    <add key="UserAgent" value="user-agent: TheFatCatCrawler/0.1 (mono/.net)"/>

    <add key="EmbeddedHTTP_ListenAddr" value="127.0.0.1"/>
    <add key="EmbeddedHTTP_ListenPort" value="44000"/>
    <add key="EmbeddedHTTP_Favicon" value="./Core/Cache/favicon.ico"/>
  </appSettings> 
</configuration>