<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
      <add key="TableRegEx" value="&lt;table class=\x22rating.*&gt;(.*)&lt;/table&gt;" /><!-- "<table class=\"rating.*>(.*)</table>"  -->
      <add key="ShittySelectRegEx" value="&lt;select.*&gt;(.*)&lt;/select&gt;"/> <!-- <select.*>(.*)</select> -->

      <add key="IndexPage" value="https://www.wowprogress.com/gearscore/?lfg=1&amp;sortby=ts"/>
      <add key="NextPage" value="https://www.wowprogress.com/gearscore/char_rating/next/{0}/lfg.1/sortby.ts"/> <!--From 0 to inf-->
      <add key="WPRoot" value="https://www.wowprogress.com/"/>

      <add key="UserAgent" value="user-agent: TheFatCatCrawler/0.1 (mono/.net)"/>
  </appSettings> 
</configuration>